// Header
@media screen and(max-width:1050px) {
  .history {
    &__content {
      padding-top: 3rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    text-align: center;

    &__navbar {
      .container {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
      }
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      border-bottom: 1px solid #444;
      &:last-child {
        border: none;
      }
    }
    &__link {
      display: inline-block;
      width: 100%;
      padding: 1.2rem;
    }
  }
  // Showcase
  .showcase {
    height: 50rem;
    &__heading {
      font-size: 4.8rem;
    }
    &__paragraph {
      font-size: 1.8rem;
    }
  }
  // History
  .history {
    height: auto;
    &__img-box {
      display: none;
    }
    &__content {
      padding: 10rem 1rem;
    }
  }
  // Features
  .features {
    flex-direction: column;
  }
  // *****************ABOUT PAGE*****************
  .info {
    .container {
      flex-direction: column;
    }
    &__heading {
      text-align: center;
    }
  }
  .testimonials {
    &__testimonial {
      flex-direction: column;
    }
  }
  // Contact Page
  .contact-info {
    .container {
      flex-direction: column;
      gap: 5rem;
    }
    &__feature {
      border-bottom: 1px solid #555;
      padding-bottom: 5rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
